*.interp
*.tokens
tests/
__pycache__/
src/transpiler/cppy/Python3Lexer.py
src/transpiler/cppy/Python3Parser.py
src/transpiler/cppy/Python3Visitor.py
src/transpiler/dist/*
src/transpiler/cppy.egg-info/*
build/